<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>About all these</title>
  </head>
  <body>
    <%= link_to 'Home', root_path %>


    <h1>Let's see</h1>
    <h2>lesser heading</h2>

  </body>
</html>
