
 <div class="center jumbotron">
   <h1>ALPHA BLOG</h1>
   <%= link_to "SIGN UP NOW", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
 </div>
    <h2 style="font-size:30px;">This is also heading</h2>
    <img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">
    <br>
    <%= link_to 'Articles Blog', articles_path %>
    <br>
    <%= link_to 'About', about_path %>

    <p style= "color:red">this paragraph is red</p>
